* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

header {
  background-color: white;
}

main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding-top: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
}
